.header {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
    }
        

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(90vh - 5rem);
    }

    .main h2 {
        font-size: 2rem;
    }

    .body_container {
        width: 95%;
        border-bottom: 1px solid #eaeaea;
        padding: 2rem 0;
    }          


.footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    background-color: #eaeaea;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    margin-top:auto; 
    }

    .logo {
        height: 1.2em;
        margin-left: 0.5rem;
    }



@media (max-width: 1023px) {
    .main h2 {
        font-size: 1.4rem;
    }
}

@media (max-width: 768px) {
    .main {
        height: auto;
    }
}

@media (max-width: 414px) {
    .body_container {
        padding: 0.5rem 0;
    } 
}
